* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

nav {
    background: #333;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.profile {
    display: flex;
    align-items: center;
    padding: 50px;
    justify-content: space-between;
}

.profile .content {
    width: 50%;
}

.profile .profile-image img {
    width: 350px;
    height: 350px;
    border-radius: 50%;
}

.media {
    text-align: center;
    padding: 50px;
}

.media img {
    width: 80%;
}

footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 20px;
}

footer li {
    list-style: none;
    margin: 0 10px;
}

footer a{
    color: white;
    text-decoration: none;
}
